{{- /* Check if this is a simple use or extended use hook */ -}}
{{- $context := dict -}}
{{- if reflect.IsMap . -}}
  {{- $context = merge $context . }}
{{- else -}}
  {{- $context = merge $context (dict "hook" . "context" dict) -}}
{{- end -}}

{{- /* create hook paths */ -}}
{{- $partialHook := printf "partials/hooks/%s.html" $context.hook -}}
{{- $partialHookCached :=
      printf
        "partials/hooks/%s-cached.html"
        $context.hook
-}}
{{- $loaded := false -}}

{{- /* execute partial hook if it exists */ -}}
{{- if templates.Exists $partialHook -}}
  {{- partial $partialHook $context -}}
  {{- $loaded = true -}}
{{- end -}}

{{- /* execute partial hook cached if it exists */ -}}
{{- if templates.Exists $partialHookCached -}}
  {{- partialCached $partialHookCached $context $context.hook -}}
  {{- $loaded = true -}}
{{- end -}}

{{- /* send out a note if the hook is not run */ -}}
{{- if eq $loaded false -}}
  {{- partial "debug.html" (dict
      "message" (printf "Unused hook available for `%s` (see %s)" (printf "%s" $context.hook) site.Data.dnb.hooks.config.hooklink)
      "context" .
      "severity" "info"
      "level" 8
  ) -}}
{{- end -}}
